{# Cisco IOS-XR Interface Template #}
{# Usage: Include in playbooks or use with template module #}
!
interface {{ interface_name }}
 description {{ interface_description | default('Configured by Ansible') }}
 {% if mtu is defined and mtu != 1500 %}
 mtu {{ mtu }}
 {% endif %}
 {% if ip_address is defined and subnet_mask is defined %}
 ip address {{ ip_address }} {{ subnet_mask }}
 {% elif ip_address is defined %}
 ipv4 address {{ ip_address }} 255.255.255.0
 {% endif %}
 {% if interface_enabled | default(true) %}
 no shutdown
 {% else %}
 shutdown
 {% endif %}
 {% if vrf is defined %}
 vrf {{ vrf }}
 {% endif %}
 {% if bandwidth is defined %}
 bandwidth {{ bandwidth }}
 {% endif %}
 {% if load_interval is defined %}
 load-interval {{ load_interval }}
 {% endif %}
!
{# Additional Cisco IOS-XR interface options #}
{% if switchport_mode is defined %}
 switchport
 {% if switchport_mode == 'trunk' %}
 switchport mode trunk
   {% if allowed_vlans is defined %}
   switchport trunk allowed vlan {{ allowed_vlans }}
   {% endif %}
 {% elif switchport_mode == 'access' %}
   {% if access_vlan is defined %}
   switchport access vlan {{ access_vlan }}
   {% endif %}
 {% endif %}
{% endif %}

{% if qos_enabled | default(false) %}
 service-policy input {{ qos_policy_in | default('default') }}
 service-policy output {{ qos_policy_out | default('default') }}
{% endif %}

{% if ip_helper_addresses is defined %}
 {% for helper in ip_helper_addresses %}
 ip helper-address {{ helper }}
 {% endfor %}
{% endif %}

{% if hsrp_enabled | default(false) %}
 hsrp {{ hsrp_group }}
  priority {{ hsrp_priority | default(100) }}
  {% if hsrp_preempt | default(true) %}
  preempt
  {% endif %}
  ip {{ hsrp_ip }}
 {% endif %}